<div class="d-flex flex-wrap mt-5">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category mt-3 mx-auto" style="background-image: url('<%= cl_image_path cocktail.photo.key, crop: :fill %>') ">
      <%=link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>